appnope==0.1.4
astropy==6.0.0
astropy-iers-data==0.2024.3.25.0.29.50
asttokens==2.4.1
build==1.2.1
CacheControl==0.14.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
comm==0.2.2
contourpy==1.2.1
crashtest==0.4.1
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
distlib==0.3.8
docstring_parser==0.16
dulwich==0.21.7
et-xmlfile==1.1.0
exceptiongroup==1.2.1
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.14.0
fonttools==4.51.0
h5py==3.11.0
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
installer==0.7.0
ipykernel==6.29.4
ipython==8.18.1
jaraco.classes==3.4.0
jedi==0.19.1
joblib==1.4.2
jupyter_client==8.6.1
jupyter_core==5.7.2
keyring==24.3.1
kiwisolver==1.4.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
more-itertools==10.2.0
msgpack==1.0.8
nest-asyncio==1.6.0
numpy==1.26.4
openpyxl==3.1.5
packaging==24.0
pandas==2.2.1
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
pkginfo==1.10.0
platformdirs==4.2.2
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==24.7.0
pyarrow==19.0.0
pycparser==2.22
pyerfa==2.0.1.1
Pygments==2.18.0
pyparsing==3.1.2
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyuvdata==2.4.3
pyvo==1.5.2
PyYAML==6.0.1
pyzmq==26.0.3
rapidfuzz==3.9.1
requests==2.32.2
requests-toolbelt==1.0.0
scikit-learn==1.5.0
scikit-optimize==0.10.2
scipy==1.12.0
seaborn==0.13.2
setuptools-scm==8.0.4
shellingham==1.5.4
six==1.16.0
stack-data==0.6.3
threadpoolctl==3.5.0
tomli==2.0.1
tomlkit==0.12.5
tornado==6.4
traitlets==5.14.3
trove-classifiers==2024.5.22
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.2
wcwidth==0.2.13
xattr==1.1.0
zipp==3.18.1
